.summary_main_div{
    width : 100;
}

.summary_date_div{
    width : 50%;
    float : left;
}

.start_date{
    margin-left : -10%;
    font-weight : normal;
}

.end_date{
    margin-left:-7%;
    font-weight: normal;
}

.date {
    margin-top : 3%;
}